USE [master]
GO
/****** Object:  Database [DBCustomers]    Script Date: 25/11/2022 0:34:01 ******/
CREATE DATABASE [DBCustomers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBCustomers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBCustomers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBCustomers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBCustomers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBCustomers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBCustomers]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 25/11/2022 0:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[cId] [int] IDENTITY(1,1) NOT NULL,
	[cName1] [varchar](30) NOT NULL,
	[cName2] [varchar](30) NULL,
	[cLastName1] [varchar](30) NOT NULL,
	[cLastName2] [varchar](30) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[cId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomersPhones]    Script Date: 25/11/2022 0:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomersPhones](
	[cpId] [int] IDENTITY(1,1) NOT NULL,
	[cId] [int] NOT NULL,
	[cpPhone] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CustomersPhones] PRIMARY KEY CLUSTERED 
(
	[cpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomersPhones]  WITH CHECK ADD  CONSTRAINT [FK_CustomersPhones_Customers] FOREIGN KEY([cId])
REFERENCES [dbo].[Customers] ([cId])
GO
ALTER TABLE [dbo].[CustomersPhones] CHECK CONSTRAINT [FK_CustomersPhones_Customers]
GO
USE [master]
GO
