@model CustomerAPP.Models.CustomerModel


<form id="save-customer-form">

    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Cliente</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="div-customerphone-modal" class="modal-body">
            <input type="hidden" asp-for="CId" class="form-control" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label">Nombre 1</label>
                    <input asp-for="CName1" class="form-control" />
                    <span asp-validation-for="CName1" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-6">
                    <label class="control-label">Nombre 2</label>
                    <input asp-for="CName2" class="form-control" />
                    <span asp-validation-for="CName2" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-6">
                    <label class="control-label">Apellidos 1</label>
                    <input asp-for="CLastName1" class="form-control" />
                    <span asp-validation-for="CLastName1" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-6">
                    <label class="control-label">Apellidos 2</label>
                    <input asp-for="CLastName2" class="form-control" />
                    <span asp-validation-for="CLastName2" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>